---
---

@import reset
@import settings
@import typography
@import nav
@import et-book.css

body
  background: url("/assets/img/brick.jpg")
  background-size: 100% auto
  background-position: center
main#content
  float: left
  max-width: 500px

section
  margin-top: 2.5em

sidebar
  max-width: 284px
  float: left
  margin-left: 40px

footer
  width: 100%
  text-align: center
  padding: 2em
  background-color: #f4f4f4
  color: $navy

#container
  width: 100%
  max-width: 880px
  margin: 100px auto
  padding: 42px 56px
  background: white
  position: relative
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.1)
  @media only screen and (max-width : 824px)
    margin: 0 auto
    padding: 2em

#header
  padding: 0.875em 0
  a, a:visited
    color: $off-black
  @media only screen and (max-width : 824px)
    padding: 0

.block
  width: 100%
  padding: 2.75rem 9rem
  margin-top: 1.5rem
  background-color: #53A4B1
  color: #fff
  font-size: 1.5em
  line-height: 1.75em

.card
  width: 100%
  margin: 0
  float: left
  @media only screen and (min-width : 880px)
    margin-top: 2em
    max-width: 232px
.card-thumbnail
  img
    width: 100%
    height: auto
.card-title
  margin-top: 1.5em
  h2
    font-weight: lighter
    font-size: 1.75rem
.card-body
  margin-top: .5em
  p
    font-size: 0.875em

.card-large
  width: 100%
  margin: 0
  float: left
  @media only screen and (min-width : 880px)
    max-width: 504px
    margin-top: 2em
    margin-left: 2em
.card-large-thumbnail
  img
    width: 100%
    height: auto
.card-large-title
  margin-top: 1.5em
  h2
    font-weight: lighter
    font-size: 1.75rem
    @media only screen and (min-width : 880px)
      width: 232px
.card-large-body
  margin-top: .5em
  @media only screen and (min-width : 880px)
    width: 232px
  p
    font-size: 0.875em

.clear
  overflow: auto
