
</div>
<footer id='footer'>
  <em>
    &#169; <a href='http://mjchamplin.com'>Michael J. Champlin</a>, 2018 - {{ site.time | date: '%Y' }}. All Rights Reserved.
  </em>
</footer>

<!-- makes the nav work -->
<script>

  if (window.matchMedia('screen and (min-width: 768px)').matches) {

    function openNav() {
      //document.getElementById("myNav").style.maxWidth = "800px";
      document.getElementById("myNav").style.width = "50%";
    }
    function closeNav() {
        document.getElementById("myNav").style.width = "0%";
    }
  }

  else {
    function openNav() {
      //document.getElementById("myNav").style.maxWidth = "800px";
      document.getElementById("myNav").style.width = "100%";
    }
    function closeNav() {
        document.getElementById("myNav").style.width = "0%";
    }
  }


</script>
