<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include header.html %}
<main>

  <div class="block clear">
      Michael is a designer in Dallas, Texas. He specializes in multimedia storytelling, branding, art direction, photography, and UI/UX.
  </div>

  <div class="card">
    <div class="card-thumbnail">
      <img src="assets/img/tall.jpg" />
    </div>
    <div class="card-title">
      <h2>Name of Thing &#8641;</h2>
    </div>
    <div class="card-body">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>

  <div class="card-large">
    <div class="card-large-thumbnail">
      <img src="assets/img/large-thumbnail.jpg" />
    </div>
    <div class="card-large-title">
      <h2>Name of Thing &#8641;</h2>
    </div>
    <div class="card-large-body">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>

  {{ content }}
</main>

{% include footer.html %}

</body>
</html>
